@import "colors";

@media (min-width:375px){
  html{
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
  }

  main{
    margin: 8% 12%;
  }

  .top-section{
    display: flex;
  }

  .info{
    box-sizing: border-box;
    width: 50%;
    padding-right: 12%;
    text-align: left;
  }

  h1{
    font-size: 3.2em;
    padding: 0;
    margin: 10px 0;
  }

  .rating-container{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .rating-div{
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin: 10px 0;
  }

  .star-container{
    display: block;
    padding: 0 20px;
  }

  .Reviews{
    align-self: flex-start;
  }

  .Report{
    align-self: center;
  }

  .BestTech{
    align-self: flex-end;
  }

  .rating-p{
    padding-right: 60px;
  }

  .card-section{
    display: flex;
    height: 300px;
  }

  .card{
    margin-right: 30px;
  }

  .card1{
    align-self: flex-start;
  }

  .card2{
    align-self: center;
  }

  .card3{
    align-self: flex-end;
  }

}