@import "colors";

@mixin bordered($color, $radius) {
  border: {
    radius: $radius;
  }
}

html{
  background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}

body{
  font-size: 14px;
  font-family: 'Spartan', sans-serif;
}

main{
  margin: 20% 5%;
  box-sizing: border-box;
}

h1{
  font-size: 2.2em;
  text-align: center;
  color: $dark-magenta;
  line-height: 1em;
  padding: 10px 20px 0;
}

.info{
  text-align: center;
}

.info-para{
  color: $dark-grayish-magenta;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 40px;
}

.rating-div{
  background-color: $light-grayish-magenta;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 1px 10px 1px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  @include bordered(inherit, 10px)
}

.rating-p{
  color: $dark-magenta;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.star-container{
  display: flex;
  padding: 14px 0 0 0;
  // align-items: center;
  justify-content: center;
}

// .star-div > div{
//   padding: 0 10px 0 10px;
// }

.star{
  padding: 0 4px 0 4px;
}

.card-section{
  margin: 50px 0;
}

.card{
  background-color: $dark-magenta;
  padding: 35px 25px 15px;
  margin: 20px 0;
  // line-height: 20px;
  @include bordered(none, 10px)
}

// .customer{
//   display: flex;
// }

.cust-img{
  border-radius: 20px;
  float: left;
  width: 15%;
  height: 15%;
  margin-right: 20px;
}

.customer__name{
  color: $light-grayish-magenta;
  font-weight: 700;
  margin: 7px 0;
}

.cust-review{
  clear: left;
  color: $light-grayish-magenta;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.8em;
  // font-stretch: extra-condensed;
  margin-top: 26px;
}

.customer__authentic{
  color: $soft-pink;
  margin: 7px 0;
}
